.header{
	width:100%;
	height: 60px;
	-webkit-app-region: drag;
}

.headline{
	font-size: 20px;
	font-family: '幼圆';
	color: white;
	position: absolute;
	line-height: 60px;
	padding-left: 20px;
}

.topright{
  position: absolute;
  top: 0px;
  right: 0px;
}

.quit {
    -webkit-app-region: no-drag;
    margin:6px;
    color: white;
}

.mybody{
	height: 90%;
}

.operator {
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-app-region: no-drag;
  margin:3px;
}